{% extends "base.html" %}

{% block content %}
<h1>➕ Добавить студента</h1>
<form method="post" action="/students/add">
    <label>Имя *: <input type="text" name="name" required></label><br><br>
    
    <label>Класс: <input type="text" name="class_name"></label><br><br>
    
    <label>Монеты (по умолч. 0): <input type="number" name="coins" value="0"></label><br><br>
    
    <label>Доп. данные: <textarea name="data"></textarea></label><br><br>
    
    <button type="submit">Сохранить</button>
    <a href="/students">Отмена</a>
</form>
{% endblock %}